html{
  font-size: 20px;
}

body{
  font-family: "Arial", "Meiryo", sans-serif  
}

h1{
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: 2rem;
  letter-spacing: 2.4em;
  text-shadow: 1px 2px 3px rgb(71, 71, 71);
  text-align: center;
  border-bottom: 3px solid rgb(115, 115, 114);
}

#basic p{
  font-weight: bold;
}

.blue{
  color: skyblue;
  text-align: center;
}

.pink{
  color: rgb(255, 192, 203);
  text-align: center;
}

p{
  text-align: center;
}
