#top {
  left: auto;
  right: auto;
  text-align: center;
  margin: 20px auto ;
  width: 800px;
  height: auto;
  background-color: #dcc9f4;
  
}
.top-child{
  display: inline-block;
  text-align: center;
  width: 20%;
  left: auto;
  right: auto;
  background-color: #ffd9df;
}
#middle {
  position: relative;
  margin: 20px auto 20px auto;
  width: 800px;
  height: 800px;
  background-color: #ffd9df;
}
#middle div{
  background-color: #87ceeb;
}
#middle-child01 {
  position: relative;
  top: 100px;
  left: 100px;
  width: 200px;
  height: 200px;
}
#middle-child02 {
  position: absolute;
  top: 300px;
  left: 300px;
  width: 200px;
  height: 200px;
}
#middle-child03 {
  position: absolute;
  top: 500px;
  left: 500px;
  width: 200px;
  height: 200px;
}
#bottom {
  position: relative;
  margin: 20px auto 20px auto;
  width: 800px;
  height: 300px;
  background-color: #87ceeb;
}
#bottom div {
  background-color: #e5dcf0;
}
#bottom-child01 {
  position: relative 0;
  width: 400px;
  height: 100px;
}
#bottom-child02 {
  position: relative;
  left: 200px;
  width: 400px;
  height: 100px;
}
#bottom-child03 {
  position: relative;
  left: 400px;
  width: 400px;
  height: 100px;
}